@import 'variables.scss';
@import 'animation.scss';

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}


// Accueil
// Loader
.loader{
    animation: loader 2s linear;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: white;
    .loader-item {
        position: fixed;
        top: 50%;
        left: 45%;
        z-index: 10;
        width: 48px;
        height: 48px;
        border: 5px solid purple;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}
// Logo
@media screen and (max-width: 767px) {
    header{
        .logo{
            display: flex;
            justify-content: center;
            box-shadow: -1px -8px 20px 0px grey;
            padding: 1rem;
            position: relative;
            width: 100%;
            img{
                width: 50%;
            }
        }
    }
    .location{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(232, 232, 232);
        padding: 1rem;
        i{
            width: 1rem;
            height: 1rem;
            margin-right: 0.8rem;
        }
    }
    .discover{
        text-align: center;
        padding: 3rem 2rem;
        background-color: $bg-grey;
        .main-title{
            font-size: 1.5rem;
            font-weight: 700;
        }
        .second-title{
            font-size: 1.2rem;
            font-weight: 500;
        }
        
    }
    
    // Fonctionnement
    .fonctionnement{
        margin: 3rem 1rem;
        .fonctionnement-item{
            background-color: $white;
            border-radius: 15px;
            padding: 1.5rem;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            i{
                margin-right: 1rem;
                margin-left: 1rem;
                color: grey;
            }
            span{
                font-weight: 700;
            }
            .bubble{
                position: absolute;
                background-color: $purple;
                color: $white;
                margin-left: -2rem;
                padding: 0.5rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 0.5rem;
                height: 0.5rem;
            }
            &:hover{
                cursor: pointer;
                background-color: rgba(225, 190, 255, 0.572);
                i{
                    color: $purple;
                }
            }
        }
    }
    
    // Restaurants
    .restaurants{
        padding: 3rem 2rem;
        background-color: $bg-grey;
        .item{
            width: 100%;
            height: 100%;
            border-radius: 15px;
            box-shadow: 0px 8px 20px 0px #b9b9b9;
            margin-bottom: 1rem;
            .img{
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                overflow: hidden;
                img{
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                    transition: transform 0.5 ease-out;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                .nouveau{
                    position: absolute;
                    background-color: rgb(154 223 202);
                    color: rgb(32 142 87);
                    padding: 0.5rem;
                    margin: 1rem 1rem 0 0;
                    font-weight: 700;
                }
            }
            .content{
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .content-title{
                    font-weight: 900;
                    font-size: 1.2rem;
                }
            }
        }
    }
    
    footer{
        background-color: rgb(55, 55, 55);
        color: $white;
        padding: 2rem;
        .content{
            display: flex;
            flex-direction: column;
        }
        a{
            text-decoration: none;
            color: $white;
            padding-bottom: 0.5rem;
        }
        img{
            width: 150px;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
            margin-bottom: 1rem
        }
        .icon-link{
            display: flex;
            flex-direction: column;
            i{
                margin-right: 0.5rem;
            }
        }
    }
}
