h1, h2, h3{
    font-family: 'Shrikhand', cursive;
}
div .title{
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
$bg-grey: rgb(241, 241, 241);
$purple: rgb(129, 44, 203);
$white: #ffffff