header{
    display: flex;
    align-items: center;
    .back{
        padding-left: 1rem;
        i{
            font-size: 1.2rem;
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        padding: 1rem;
        position: relative;
        box-shadow: none;
        img{
            width: 50%;
        }
    }
}
.card-img{
    background-image: url("../../../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
}
main{
    border-radius: 40px 40px 0 0;
    background: #eeeeee;
    margin-top: -40px;
    padding: 2rem;
    .title-heart{
        display: flex;
        justify-content: space-between;
        border: 1px solid transparent;
        margin-bottom: 2rem;
    }  
    .card-title{
        .title{
            text-transform: uppercase;
            font-weight: 200;
        }
        .border{
            height: 100%;
            margin-bottom: 1rem;
            width: 50px;
            border-bottom: 3px solid #99E2D0;
        }
    }
    .plates{
        .plate{
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 8px 20px 0px #d0d0d0;
            background-color: #ffffff;
            border-radius: 20px;
            padding: 1rem;
            margin-bottom: 1rem;
            max-height: 75px;
            cursor: pointer;
            .food{
                width: 100%;
                .title-plate{
                    font-weight: 700;
                }
                .detail-price{
                    display: flex;
                    justify-content: space-between;
                    margin-right: 1rem;
                    .price{
                        font-weight: 700;
                    }
                }
            }
            .box{
                opacity: 0;
                i{
                    color: #ffffff;
                }
            }
            &:hover span{
                text-overflow: ellipsis;
            }
            &:hover .box{
                animation: slide 1s ease;
                background-color: #99E2D0;
                width: 70px;
                height: 71px;
                margin-top: -15px;
                margin-bottom: -15px;
                margin-right: -17px;
                border-radius: 0px 15px 15px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
                i{
                    animation: rotation 1s ease;
                }
            }
        }
        .delay-0{
            animation: fadeIn 1s ease; 
            animation-delay: 500ms;
         }
         .delay-1{
            animation: fadeIn 1s ease; 
            animation-delay: 800ms;
         }
         .delay-2{
            animation: fadeIn 1s ease; 
            animation-delay: 1s;
         }
    }
    .button{
        display: flex;
        justify-content: center;
        .btn{
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}
